.chart-container {
  min-width: 50%;
  position: relative;
  border: 1px solid #e2e2e2;
  background: #ffffff;
  border-radius: 6px;
}

.chart-container .table-container {
  height: 411px;
}

.head-section {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e2e2e2;
  padding: 10px;
}

.pie-chart-container {
  display: flex;
}

.chart-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.statistic {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.statistic > div {
  width: 60px;
  height: 20px;
  border-radius: 5px;
}

.statistic-orange > div {
  background-color: #ff823c;
}

.statistic-blue > div {
  background-color: #0096ff;
}

.statistic-black > div {
  background-color: #323c46;
}

.statistic > p {
  font-weight: 900;
  font-size: 14px;
  margin-left: 15px;
}

.switch-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.chart-container .table-content {
  padding-right: 52px;
}

@media (min-width: 768px) {
  .chart-sub-container {
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 0px;
    flex-wrap: wrap;
  }
}
