.toolbar-title,
.table-head-content {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #565e66;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 12px 15px;
}

.toolbar-right-content {
  display: flex;
  justify-content: space-between;
}

.toolbar-right-content select {
  min-width: 100px;
  font-family: "Montserrat", sans-serif;
  margin-right: 20px;
  border: 1px solid #e2e2e2;
}
