.home-container {
  padding: 20px;
  background: #fafafa;
}

.sub-container > div {
  min-width: 49%;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .home-container {
    min-height: 80vh;
  }

  .sub-container {
    display: flex;
    justify-content: space-between;
    max-height: 411px;
  }

  .sub-container > div {
    margin-top: 0px;
    margin-right: 30px;
  }
}
